member {
  margin: 10px;
}

.member-content {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 160px;
  background-color: #cccccc;
  text-align: center;
}

.member-icon {
  margin-left: auto;
  margin-right: auto;
  width: 30px;
  text-align: left;
}
