{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        [
            "istanbul",
            {
                "exclude": [
                    "src-ajs/**/__tests__/*.js"
                ],
                "include": [
                    "src-ajs/**/*.js"
                ]
            }
        ]
    ]
}
