body {
  font-family: arial, sans-serif;
}

.members {
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

.ascii-art-content {
  margin-left: auto;
  margin-right: auto;
  width: 30px;
  text-align: left;
  font-family: 'Courier new';
}
